# Drizzle ORM w/ Neon Postgres / https://orm.drizzle.team/docs/connect-neon
DATABASE_URL=<your-neon-db-url>

# Better Auth / https://better-auth.com/docs
BETTER_AUTH_SECRET=supersecretpassword
BETTER_AUTH_URL=http://localhost:3000
NUXT_PUBLIC_BETTER_AUTH_BASE_URL=http://localhost:3000/api/auth

GITHUB_CLIENT_ID=<your-github-client-id>
GITHUB_CLIENT_SECRET=<your-github-client-secret>

# Octokit / https://octokit.github.io/rest.js/v22/
GITHUB_APP_ID=2926428
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...<key-from-pem>...\n-----END RSA PRIVATE KEY-----"

# Pusher / https://pusher.com/docs/channels/getting_started/javascript
PUSHER_APP_ID=<your-pusher-app-id>
PUSHER_KEY=<your-pusher-key>
PUSHER_SECRET=<your-pusher-secret>
PUSHER_CLUSTER=<your-pusher-cluster>

# Resend / https://resend.com/docs/send-with-nodejs
RESEND_API_KEY=<your-resend-api-key>