@import "tailwindcss";

@theme {
    --color-main-50: var(--color-slate-50);
    --color-main-100: var(--color-slate-100);
    --color-main-200: var(--color-slate-200);

    --color-txt-primary: var(--color-slate-300);
    --color-txt-secondary: var(--color-slate-400);

    --color-main-500: var(--color-slate-500);
    --color-main-600: var(--color-slate-600);
    --color-main-700: var(--color-slate-700);
    --color-main-800: var(--color-slate-800);
    --color-main-900: var(--color-slate-900);
    --color-main-950: var(--color-slate-950);

    --color-brand: var(--color-blue-600);
}

body {
    @apply bg-main-900 text-txt-primary;
}

@layer components {
    .ring-md {
        @apply ring-1 ring-inset ring-main-50/10;
    }
}